<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeBin</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="homepage">
        <h2>Hello!</h2>
        <b>
            Sharing code is a good thing, and it should be _really_ easy to do it.
            A lot of times, I want to show you something I'm seeing - and that's where we
            use pastebins.
        </b>
        <h2>Basic Usage</h2>
        <b>
            Type what you want me to see, click "Save", and then copy the URL.  Send that
            URL to someone and they'll see what you see.
            <br/>
            To make a new entry, click "New" .
        </b>
    </div>
    <%- include("_buttons.ejs") %>
</body>
</html>